@font-face {
  font-family: "general";
  src: url("../assets/Ysabeau_Infant/YsabeauInfant-Medium.ttf");
}
* {
  margin: 0%;
  padding: 0%;
  font-family: "general";
}

.body {
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(255, 192, 203, 0.616), rgb(255, 153, 170), rgb(250, 115, 137));
}

@keyframes animacion {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu-navegador {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-navegador a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-navegador a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid white;
}
.menu-navegador ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.menu-navegador ul li {
  padding: 10px;
}
.menu-navegador ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.footer {
  background-color: brown;
  text-align: center;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  transform: translateX(0);
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: white;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  transform: translateX(0);
}

.caja {
  padding: 50px 15px;
  text-align: center;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  transform: translateX(0);
}

.caja-hijo {
  display: inline-block;
  width: 31%;
  text-align: center;
  background-color: brown;
  border: 1px solid black;
  margin: 10px;
  transition: 0.8s;
}
.caja-hijo:hover {
  transform: scale(1.06);
}
.caja-hijo img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.caja-hijo video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.caja-hijo h2, .caja-hijo p {
  padding: 15px;
  color: white;
}

.servicios {
  color: black;
  text-align: center;
  padding: 10px;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  transform: translateX(0);
}
.servicios a {
  text-decoration: none;
  color: white;
}
.servicios img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.nosotros {
  color: black;
  text-align: center;
  padding: 30px;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  transform: translateX(0);
}
.nosotros img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.contacto {
  display: flex;
  justify-content: center;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  transform: translateX(0);
}

.contacto-logo {
  padding: 10px;
}
.contacto-logo a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto-logo a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

@media only screen and (max-width: 1101px) {
  .menu-navegador {
    justify-content: space-between;
    align-items: center;
  }
  .menu-navegador a {
    padding: 6px;
  }
  .menu-navegador a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .menu-navegador ul li {
    padding: 3px;
  }
  .menu-navegador ul li a {
    font-size: 15px;
  }
  h1 {
    font-size: 40px;
  }
  .caja {
    padding: 5px 0px;
  }
  .caja-hijo {
    width: 30%;
    height: 500px;
  }
  .caja-hijo img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .caja-hijo video {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .caja-hijo h2 {
    font-size: 17px;
    padding: 5px;
  }
}
@media only screen and (max-width: 770px) {
  .menu-navegador {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu-navegador a {
    padding: 3px;
  }
  .menu-navegador a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .menu-navegador ul li {
    padding: 3px;
  }
  .menu-navegador ul li a {
    font-size: 11px;
  }
  h1 {
    font-size: 30px;
  }
  .caja {
    padding: 5px 0px;
  }
  .caja-hijo {
    width: 40%;
    height: 500px;
  }
  .caja-hijo img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .caja-hijo video {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .caja-hijo h2 {
    font-size: 15px;
    padding: 2px;
  }
}
@media only screen and (max-width: 480px) {
  .menu-navegador {
    flex-direction: column;
  }
  .menu-navegador a {
    padding: 5px;
  }
  .menu-navegador a img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .menu-navegador ul {
    flex-direction: column;
  }
  .menu-navegador ul li {
    padding: 1px;
  }
  .menu-navegador ul li a {
    font-size: 8px;
  }
  h1 {
    font-size: 20px;
  }
  .caja {
    padding: 3px 0px;
  }
  .caja-hijo {
    width: 80%;
    height: 400px;
  }
  .caja-hijo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .caja-hijo video {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .caja-hijo h2, .caja-hijo p {
    font-size: 15px;
    padding: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
